// Primary Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

// Neutral Colors
$darkGray: hsl(0, 0%, 59%);

// Typography
// (Used for names and stats)
$standardFontSize: 18px;
$customFont: 'Kumbh Sans', sans-serif;
$normalFontWeight: 400;
$heavyFontWeight: 700;